argon2-cffi==19.2.0
asn1crypto==1.2.0
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
construct==2.9.45
cryptography==2.8
dnspython==1.16.0
Flask==1.1.1
Flask-MongoAlchemy==0.7.2
Flask-PyMongo==2.3.0
future==0.18.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
keepassx==0.1.0
lxml==4.4.1
MarkupSafe==1.1.1
MongoAlchemy==0.19
prettytable==0.7.2
pycparser==2.19
pycryptodome==3.9.4
pykeepass==3.1.2
pymongo==3.9.0
pyOpenSSL==19.0.0
PySocks==1.7.1
python-dateutil==2.8.1
PyYAML==5.1
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.24.2
Werkzeug==0.16.0
